[submodule "Code/Vendor/assimp"]
	path = Code/Vendor/assimp
	url = https://github.com/assimp/assimp.git
    branch = master
[submodule "Code/Vendor/glad"]
	path = Code/Vendor/glad
	url = https://github.com/Dav1dde/glad.git
    branch = c
[submodule "Code/Vendor/glfw"]
	path = Code/Vendor/glfw
	url = https://github.com/glfw/glfw.git
    branch = master
[submodule "Code/Vendor/glm"]
	path = Code/Vendor/glm
	url = https://github.com/g-truc/glm.git
    branch = master
[submodule "Code/Vendor/stb"]
	path = Code/Vendor/stb
	url = https://github.com/nothings/stb.git
    branch = master
[submodule "Code/Vendor/bullet"]
	path = Code/Vendor/bullet
	url = https://github.com/bulletphysics/bullet3.git
    branch = master
[submodule "Code/Vendor/freetype2"]
	path = Code/Vendor/freetype2
	url = git@github.com:aseprite/freetype2.git
